.heading {
  font-size: var(--fs-xl);
  line-height: var(--lh-heading);
  font-weight: 500;
  margin: var(--space-3) 0 0;
}

.subheading {
  font-size: var(--fs-xl);
  line-height: var(--lh-heading);
  font-weight: 500;
  margin: var(--space-6) 0 0;
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin-top: var(--space-3);
  font-size: var(--fs-base);
  line-height: var(--lh-body);
}

.body p {
  margin: 0;
}
